<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add image</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
            <div>
                <label>Photo: </label>
                <input required type="file" name="images" accept="image/png, image/jpeg" multiple/>
            </div>
            <div>
                <label>Name: </label>
                <input required type="text" name="name" />
            </div>
            <div>
                <label>Info: </label>
                <input required type="text" name="info" />
            </div>
            <div>
                <label>Price: </label>
                <input required type="number" name="price" />
            </div>
            <div>
                <label>Attributes: </label>
                <input placeholder="attribute name1_attribute1; attribute name2_attribute2" required type="text" name="attributes" />
            </div>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>